@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@700&display=swap');

:root {
    --cor1: #000000;
    --cor2: #22D4FD;
    --cor3: #F6F6F6;
    --corHover: aqua;
    --fonte1: 'Krona One', sans-serif;
    --fonte2: 'Montserrat', sans-serif;
}

body {
    background-color: var(--cor1);
    color: var(--cor3);
    /* height: 100vh; */
    box-sizing: border-box;
}

header {
    padding: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo {
    color: var(--cor2);
}

.apresentacao {
    padding: 3% 3%;
    margin-bottom: 10%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.logo {
    margin: 3%;
    display: block;
}

.aps__conteudo {
    width: 615px;
    flex-direction: column;
}

.aps__ctd__titulo {
    font-size: 36px;
    font-family: var(--fonte2);
}

.aps__ctd__subtitulo {
    margin-bottom: 5%;
    font-size: 28px;
    font-family: var(--fonte1);
}

.botoes {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 20px;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background-color: var(--cor2);
    width: 280px;
    border-radius: 16px;
    font-size: 24px;
    text-align: center;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor1);
    font-family: var(--fonte2);
}

.link:hover {
    background-color: var(--corHover);
}

.linkAtivo {
    background-color: var(--corHover);
    width: 280px;
    border-radius: 16px;
    font-size: 24px;
    text-align: center;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor1);
    font-family: var(--fonte2);
}


.rodape {
    background-color: var(--cor2);
    padding: 24px;
    font-family: var(--fonte2);
    font-size: 24px;
    font-weight: 400;
    color: var(--cor1);
}